conformance/themes/
conformance/public/
conformance/scale-content/
.tools/
conformance/resources/_gen/
conformance/.hugo_build.lock
resources/_gen/
.hugo_build.lock
public/
.bootstrap-*
.hugo-toml-*
conformance/config/site/
conformance/config/off/
*.tar.gz
conformance/config/scale/
