name = "{{NAME}}"
license = "MIT"
licenselink = "https://github.com/{{OWNER}}/{{REPO}}/blob/main/LICENSE"
description = ""
homepage = "https://github.com/{{OWNER}}/{{REPO}}"
demosite = ""
min_version = "{{HUGO_VERSION}}"
tags = []
features = []

[author]
  name = ""
  homepage = ""
